html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --serif: 'Noto Serif', serif;
    --sans-serif: 'Roboto', sans-serif;

    --weight-normal: 400;
    --weight-light: 300;

    --page-gutter: 40px;

    --primaryBrandColor: #e9474b;
    --secondaryBrandColor: #3f3f3f;
}

body {
    padding: var(--page-gutter);
    font-family: var(--sans-serif);
}

.t-banner {
    font-size: 175px;
    letter-spacing: -15px;
    line-height: 1;
    font-family: var(--serif);
}

.t-banner-zipper {
    font-family: var(--sans-serif);
    font-size: 14px;
    font-weight: var(--weight-light);
}

.t-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* header */
.global-header {
    height: 600px;
    position: relative;
}

.global-header__banner {
    margin-left: 30px;
    height: 100%;
    color: var(--primaryBrandColor);
}

.global-header__zipper {
    position: absolute;
    top: 16px;
    left: 0;
    color: var(--secondaryBrandColor);
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: 0 100%;
}

.global-header__image {
    margin-top: -70px;
    margin-left: 20px;
    height: 390px;
    width: 390px;
    background-image: url(assets/image-computer-code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;
}
